<div class="card">
  <div class="card-header">
    Add New FAQ
  </div>
  <div class="card-body">
    <form #f="ngForm" (submit)="addQuestion(f)" novalidate>
      <div class="form-group">
        <label for="text">Question Text</label>
        <input type="text" class="form-control" [(ngModel)]="text" name="text" #question="ngModel" required minlength="5">
        <div class="alert alert-danger" *ngIf="question.errors?.required && question.touched">Question text is required.</div>
        <div class="alert alert-danger" *ngIf="question.errors?.minlength && question.touched">Question text is atleast 5 characters.</div>
      </div>
      <div class="form-group">
        <label for="text">Question Answer</label>
        <input type="text" class="form-control" [(ngModel)]="answer" name="answer" #textAnswer="ngModel" required>
        <div class="alert alert-danger" *ngIf="textAnswer.errors?.required && textAnswer.touched">Answer is required.</div>
      </div>
      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>